

{% import 'snippets/macro.twig' as func %}

<li {{ isNav is defined ? func.isActive(path('ownServer')) : '' }}><a href="{{ path('ownServer') }}">Show profile and mail from own API</a></li>
<li {{ isNav is defined ? func.isActive(path('google')) : '' }}><a href="{{ path('google') }}">List your personal information and the last 5 emails from Gmail</a></li>