{% extends 'base.twig' %}

{% block pageHeader %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content %}
    <h3>Welcome to Dave's oauth 2.0 app!</h3>
    <p>Choose an action:</p>
    <ul>
        {% include 'snippets/actions.twig' %}
    </ul>
    <p>OR</p>
    <ul>
        <li><a href="{{ path('admin') }}">Go to the secured area</a></li>
    </ul>

{% endblock content %}