{% extends 'base.twig' %}

{% block content %}
    <h1>Dave's oauth 2.0 app</h1>
    <p>Welcome to Dave's oauth 2.0 app!</p>
    <p>Choose an option:</p>
    <ul>
        <li><a href="{# TODO create link #}">List your 5 last tweets from Twitter</a></li>
        <li><a href="/google">List your personal information and the last 5 emails from Gmail</a></li>
        <li><a href="{# TODO create link #}">Show your 5 last posts from Facebook</a></li>
        <li><a href="{# TODO create link #}">Show your 5 last commits from GitHub</a></li>
    </ul>

{% endblock content %}